body{
    font-family: "HelveticaNeue";
    line-height: 1.67;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

p{
    margin: 0;
}

nav{
    min-height: 100px;
    margin-bottom: -40px;
}

nav > .container{
    max-width: 1320px;
}

nav li {
    padding: 0 10px;
    color: #2e2828;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.logo {
    background: url("../assets/logo.svg") no-repeat 0 50%;
    height: 45px;
    width: 50px;
    margin-right: 60px;
}

.banner-container{
    max-width: 1440px;
    margin-left:auto;
    margin-right:auto;
}

.banner{
    background-image: url("../assets/main-banner-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 723px;
}

.contact {
    min-height: 150px;
    top: -75px;
    position: relative;
    padding: 34px 0 41px 0;
    background-color: white;
    box-shadow: 0 7px 40px 5px rgba(0, 0, 0, 0.03);
    border: solid 1px rgba(70, 64, 64, 0.2);
}

.contact div:first-child{
    padding-left: 60px;
}

.contact div:last-child{
    padding-right: 30px;
}

.send-req{
    width: 240px;
    height: 100px;
    border: solid 1px #0d2b51;
    background-color: #0d2b51;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
}

.stylish{
    font-family: CormorantGaramond;
    font-size: 54px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -0.5px;
    color: #0d2b51;
}

.sub-h{
    line-height: 2.08;
    opacity: 0.34;
    font-size: 12px;
}

.footer-closing p{
    font-size: 15px;
    line-height: 1.67;
}

.footer-closing a{
    color:white;
}

.footer-closing{
    background-color: #0d2b51;
    color: white;
    padding-top: 85px;
    padding-bottom: 72px;
}


.go-up{
    width: 20px;
    height: 50px;
    position: relative;
    bottom: 57px;
    left: 100%;
}

.footer-logo{
    width: 180px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 76px;
}

footer{
    background-color: #04101e;
    min-height: 80px;
}

footer > * {
    color:#ffffff;
    margin: 0;
    font-family: "HelveticaNeue";
    font-size: 12px;
    opacity: 0.33;
}

footer p {
    margin-bottom: 0px;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }   
}

@media (min-width:992px){
    .m-b-46{
        margin-bottom: 46px!important;
    }
    
    .m-b-56{
        margin-bottom: 56px!important;
    }
}

@media (max-width:992px) and (min-width:768px){
    .m-b-41{
        margin-bottom: 41px!important;
    }

    .m-b-53{
        margin-bottom: 53px!important;
    }
}

@media (max-width:992px){
    nav{
        min-height: 60px;
    }

    .logo {
        background: url("../assets/logo.svg"); background-size:100%;
        height: 25px;
        width: 28px;
        margin-right: 32px;
    }

    .navbar-light .navbar-toggler {
        border: none;
        text-align: right;
    }

    button:focus {
        outline: none
    }

    .banner{
        height: 470px;
    }

    .go-up{
        bottom: 106px;
    }

    .contact div:first-child{
        padding-left: 15px;
        padding-bottom: 34px;
    }
    
    .contact div:last-child{
        padding-right: 15px;
    }

    .stylish{
        font-size: 31px;
    }
}

@media (max-width:768px){
    .go-up{
        bottom: -30px;
        left: 50%;
    }
    
    footer{
        min-height: 103px;
    }
}


/*Utility classes*/
