body{
    line-height: 1.67;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

h2{
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: contents;
}

p{
    margin: 0;
}

nav{
    min-height: 100px;
    margin-bottom: -40px;
}

nav > .container{
    max-width: 1320px;
}

nav li {
    padding: 0 10px;
    color: #2e2828;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.5px;
}
.article-text{
    font-size: 14px;
    line-height: 1.93;
}

.logo {
    background: url("../assets/logo.svg") no-repeat 0 50%;
    height: 45px;
    width: 50px;
    margin-right: 60px;
}

.banner-container{
    max-width: 1440px;
    margin-left:auto;
    margin-right:auto;
}

.mw-1440{
    max-width: 1440px!important;
}

.arrow-container{
    position: absolute;
    bottom: 60px;
    right: 15px;
    width: 90px;
    height: 90px;
    border: solid 1px #DFD9D9;
    border-radius: 50%;
}

.arrow-container img {
    position: relative;
    left: 34%;
    top: 33%;
    opacity: 1;
}

.title-position{
    position: absolute;
    left: 118px;
    top: 101px;
}

.banner{
    background-image: url("../assets/main-banner-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 723px;
}

.contact {
    min-height: 150px;
    top: -75px;
    position: relative;
    padding: 34px 0 41px 0;
    background-color: white;
    box-shadow: 0 7px 40px 5px rgba(0, 0, 0, 0.03);
    border: solid 1px rgba(70, 64, 64, 0.2);
}

.contact div:first-child{
    padding-left: 60px;
}

.contact div:last-child{
    padding-right: 30px;
}

.send-req{
    width: 240px;
    height: 100px;
    border: solid 1px #0d2b51;
    background-color: #0d2b51;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
}

.stylish{
    margin: 0;
    font-family: CormorantGaramond;
    font-size: 54px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -0.5px;
    color: #0d2b51;
}

.sub-h{
    line-height: 2.08;
    font-size: 12px;
}

.rectangle{
    max-width: 659px;
    width: 100%;
    height: 305px;
    box-shadow: 0 7px 40px 5px rgba(0, 0, 0, 0.03);
    border: solid 1px rgba(70, 64, 64, 0.2);
    padding-top: 47px;
    padding-bottom: 60px;
}

.footer-opacity{
    opacity: 0.34;
}

.sub-data{
    font-size: 16px;
    font-weight: bold;
}

.sub-data-big{
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: -5px;
    margin-bottom: 5px;
}


.footer-closing p{
    font-size: 15px;
    line-height: 1.67;
}

.footer-closing a{
    color:white;
}

.footer-closing{
    background-color: #0d2b51;
    color: white;
    padding-top: 85px;
    padding-bottom: 72px;
}


.go-up{
    width: 20px;
    height: 50px;
    position: relative;
    bottom: 57px;
    left: 100%;
}

.footer-logo{
    width: 180px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 76px;
}

footer{
    background-color: #04101e;
    min-height: 80px;
}

footer > * {
    color:#ffffff;
    margin: 0;
    font-size: 12px;
    opacity: 0.33;
}

footer p {
    margin-bottom: 0px;
}

.article-hr-margin-1{
    margin-top: 36px;
    margin-bottom: 28px;
}

.article-hr-margin-2{
    margin-top: 15px;
    margin-bottom: 28px;
}

.hr-main{
    max-width: 1200px;
}

.description{
    margin-top: 93px;
    margin-bottom: 96px;
}

.gallery-heading-height{
    height: 114px;
    margin-bottom: 36px;
}

.gallery-main{
    width: 803px;
    max-height: 560px;
    margin-bottom: 20px;
}

.gallery-main img{
    height: auto;
    width: 100%;
}

.gallery-item{
    width: 110px;
    height: 80px;
    margin-right: 10px;
}

.gallery-item:last-of-type{
    margin-right: 76px;
}

.gallery-controls{
    width: 32px;
}

.gallery-controls img{
    width: 32px;
    height: 32px;
    margin: 4px;
}

.numbering{
    position: relative;
    top: -15px;
}

.pdf{
    width: 155px;
    height: 48px;
    background-color: #ffffff;
    border: solid 1px #bfbfbf;
    font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.contact-me{
    margin-top: 150px;
    margin-bottom: 240px;
}

.btn-large{
    max-width: 480px;
    width: 100%;
}

.description .row div:last-of-type{
    padding-left: 45px;
}

.additions-bg{
    background-color: #f2f2f2;
    padding-top: 53px;
    padding-left: 58px;
    height: 480px;
}

.additions-bg .row {
    margin-top: 20px;
}

.payment-type{
    margin-top: 75px;
}

.additions-bg .sub-data{
    position: relative;
    top: -7px;
}

.sub-under{
    font-size: 12px;
    color: #7a7a7a;
}

.group-under{
    position: relative;
    top: -10px;
}

.v-center{
    position: absolute;
    top: 50%;
}

.numbering-2{
    position: absolute; 
    top:-10px;
}

.years{
    position: absolute;
    bottom: 52px;
}


@media (max-width: 1440px){
    .gallery-main{
        max-width: 100%;
    }
}


@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }   
}

@media (min-width:992px){
    .additions{
        max-width: 1440px!important;
        overflow-x: hidden;
    }
    
    .row-custom-position{
        position: relative;
        left: 120px;
    }
    
    .m-b-46{
        margin-bottom: 46px!important;
    }
    
    .m-b-56{
        margin-bottom: 56px!important;
    }
}

@media (max-width:992px) and (min-width:768px){
    .m-b-41{
        margin-bottom: 41px!important;
    }

    .m-b-53{
        margin-bottom: 53px!important;
    }
}

@media (max-width:992px){
    nav{
        min-height: 60px;
    }

    .additions-bg{
        padding-left: 15px;
    }

    .logo {
        background: url("../assets/logo.svg"); background-size:100%;
        height: 25px;
        width: 28px;
        margin-right: 32px;
    }

    .navbar-light .navbar-toggler {
        border: none;
        text-align: right;
    }

    .gallery-heading-height{
        height: auto;
        margin-bottom: 24px;
    }

    .gallery-main{
        max-width: 109%;
        margin-left: -15px;
    }

    button:focus {
        outline: none
    }

    .banner{
        height: 470px;
    }

    .go-up{
        bottom: 106px;
    }

    .contact{
        top:0px;
    }

    .contact div:first-child{
        padding-left: 15px;
        padding-bottom: 34px;
    }
    
    .contact div:last-child{
        padding-right: 15px;
    }

    .stylish{
        font-size: 31px;
    }

    .description .row div:last-of-type{
        padding-left: 15px;
    }

    div.p-b-16{
        padding-bottom: 0px!important;
    }

    .m-b-60{
        margin-bottom: 60px;
    }

    section.p-l-59px {
        padding-left: 15px!important;
    }
}

@media (max-width:768px){
    .go-up{
        bottom: -30px;
        left: 50%;
    }
    
    footer{
        min-height: 103px;
    }
}


/*Utility classes*/
.p-b-16{
    padding-bottom: 1.6rem!important;
}

.m-b-32{
    margin-bottom: 3.2rem!important;
}

.m-t-34{
    margin-top: 34px!important
}

.p-l-59px{
    padding-left: 59px!important;
}

.p-b-42{
    padding-bottom: 42px!important;
}

.m-b-32{
    margin-bottom: 32px!important;
}

.w-100{
    width:100%;
}